<launch>

    <!-- Set global GPS starting location --> <!-- TO DO!! GET THE REFRENCE VALUES FROM .BAG FILE!!-->
    <param name="/lat_r"  type="double" value="37.7749" />
    <param name="/lon_r" type="double" value="-122.4194" />
    <param name="/alt_r"  type="double" value="10.0" />

    <!-- Publisher node -->
    <node pkg="first_project" type="odom_pub" name="odometer" output="screen" />
    <node pkg="first_project" type="gps_pub" name="gps_odometer" output="screen" />
    <node pkg="first_project" type="sector_time_pub" name="sector_time" output="screen" />

    <!-- Subscriber node -->
    <node pkg="first_project" type="odom_sub" name="odometer" output="screen" />
    <node pkg="first_project" type="gps_sub" name="gps_odometer" output="screen" />
    <node pkg="first_project" type="sector_time_sub" name="sector_time" output="screen" />

    <!-- GPS world Reference frame global parameters (starting coordinates) -->
    <param name="lat_r" value="45.630645048865034" />
    <param name="lon_r" value="9.292019293116049" />
    <param name="alt_r" value="236.65267429420547" />

    <!-- Start RViz with preloaded configuration -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find first_project)/config/RVIZ_CONFIG.rviz"/>
</launch>
